* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 197, 208);

}

img {
    display:block;
    height: initial;
}

/* Estilos por defecto de escritorio */

h1 {
    text-align: center;
    font-family: sans-serif;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    padding: .75rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: .75rem;
}

.item {
    overflow: hidden;
    border-radius: 1rem;
    background-color: rgb(236, 78, 131);
}

.item-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: 0,2;
    scale: 1;
    cursor: pointer;
}

.item-image:hover {
    opacity: 1;
    scale: 1.05;
}

/* Tablet de 1023px */
 @media screen and (max-width: 1023px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
 }

 /* Moviles de 435px */

 @media screen and (max-width: 435px) {
    .container {
        grid-template-columns: 1fr;
    }

 }







