* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    width: 100%;
}

.nav {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand {
    text-align: center;
    padding: 1rem 0.5rem;
}

.brand-image {
    width: 100%;
    max-width: 200px;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: hotpink;
}

.menu-item {
    padding: 0.75rem 0;
    color: darkorchid;
    text-decoration: none;
    text-align: center;

}

/* Estilos para tablets 768px */
@media screen and (min-width:768px) {
    .nav {
        border-bottom: 1px solid pink;
    }
    menu {
        flex-direction: row;
        background-color: aqua;
    }

    .menu-item {
        color: cornflowerblue;
        flex-grow: 1;
    }
}

/* Estilos para laptop 1024px*/
@media screen and (min-width: 1024px) {
    .nav {
        padding: .75rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .brand {
        padding: 0;
    }

    .brand-image {
        max-width: 140px;
    }

    .menu {
        gap: 2rem;
    }

    .menu-item:hover {
        color: cornflowerblue;
        cursor: pointer;
    }
}
@media screen and (min-width: 1280px) {
    .nav {
        max-width: 1280px;
        margin: 0 auto;
    }

}