/* 
MEDIA QUERIES 

Permiten aplicar estilod especificos de acuerdo a las caracateristicas del dispositivo

uUtilizan la regla @media para condicionar la aplicacion de estos estilos. 

Sintaxis:
  @media media-type conector ( media-feature-rule ) {
  
  Reflas de CSS que se van a aplicar cuando se cumplen estas condiciones.
  
}
  
Media type

 *screen: Pantallas de computadora, tablets o moviles 
 *speech: Sintetizadores de voz
 * print: para documentos impresos o imprimir la web
 * all: Todos los dispositivos. Valor por defecto 
 *features: not ( negacion ): Se coloca antes del media type.

Media features rule: (Reglas de caracteristicas del medio):
       
    width: Ancho de la ventana del navegador
    height: Alto de la ventana del navegador
    min-width/max-width: ancho minimo y ancho maximo
    min-height/max-height: alto minimo y alto maximo 
    
    
*/

body {
    background-color: deeppink;
}
h1 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;

}
/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
    body {
        background-color: blueviolet;

    }
    h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 6rem;
    }
}

@media screen and (max-width: 78px) {
    body {
        background-color: aquamarine;
    }
    h1 {
        font-family: fantasy;
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: cornflowerblue;
    }
    h1 {
        font-family: sans-serif;
        font-size: 10rem;
    }
    
}